<div class="panel panel-default">
        <div class="panel-heading"> Zarejestruj się</div>
        <div class="panel-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-control') do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true %></div>

  <div><%= f.label :second_name %><br />
  <%= f.text_field :second_name, autofocus: true %></div>

  <div><%= f.label :adress %><br />
  <%= f.text_field :adress, autofocus: true %></div>

  <div><%= f.label :postcode %><br />
  <%= f.text_field :postcode, autofocus: true %></div>

  <div><%= f.label :post %><br />
  <%= f.text_field :post, autofocus: true %></div>

  <div><%= f.label :born %><br />
  <%= f.date_select :born, autofocus: true, :start_year => 1900 %></div>



  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" , class: "btn btn-default" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>